@font-face {
  font-family: OpenSans-Regular;
  src: url(https://github.com/kostinvlad/surface/blob/master/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: red;
}
