@font-face {
  font-family: OpenSans-Regular;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Opensans-Regular, OpenSans-Bold;
}

h1 {
  color: #fff;
  text-transform: uppercase;
}


@media (max-width: 640px) {

.top-wrapper {
  width: 280px;
  display: flex;
}



.top {


  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/kostinvlad/surface/master/images/football_767.jpg);
  -webkit-background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.top::after {
  content: "";
background-color: #010f54;
background-size: cover;
z-index: 2;
opacity: 0.7;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}


}
