@font-face {
  font-family: OpenSans-Regular;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: Opensans-Regular, OpenSans-Bold; */
}

a {
  text-decoration: none;
}

.surface-text-logo {
  display: block;
  width: 133px;
  height: 36px;

@media (max-width: 640px) {

  .header {
    background-image: url(https://raw.githubusercontent.com/kostinvlad/surface/master/images/football_767.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100vh;
  }

  .header::after {
    content: "";
    background-color: #0a0e34;
    background-size: cover;
    z-index: 2;
    opacity: 0.9;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /* Main */

.part-header {
  font-family: OpenSans-Bold;
  font-size: 45px;
  font-weight: 900;
  padding-bottom: 241px;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  color: #e7e7e7;
  text-transform: uppercase;
  line-height: 60px;
  }

.part-connection {
  background-color: #fafafa;
  font-family: OpenSans-Regular;
  padding-top: 82px;
  padding-bottom: 54px;
  padding-left: 20px;
  padding-right: 20px;


}
.header-part {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 25px;
}

.set-h3 {
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.number-h3 {
  font-family: OpenSans-Bold;
  font-size: 15px;
  font-weight: bold;

}

.underline-h3 {
  width: 17px;
  height: 4px;
  border-radius: 1.5px;
  background-color: #5e42b0;
}

.part-collaboration .underline-h3 {
  width: 17px;
  height: 4px;
  border-radius: 1.5px;
  background-color: #5e42b0;
}

.header-h3 {
  font-family: OpenSans-Bold;
  font-size: 23px;
  color: #c1c1c1;
  text-transform: uppercase;
}

.part-paragraph {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.7px;

}

.part-collaboration {
  background-color: #f5f4f9;
  font-family: OpenSans-Regular;
  padding-top: 60px;
  padding-bottom: 54px;
  padding-left: 20px;
  padding-right: 20px;

}

.part-growth {
  color: #ffffff;
  background-color: #5e42b0;
  font-family: OpenSans-Regular;
  padding-top: 61px;
  padding-bottom: 54px;
  padding-left: 20px;
  padding-right: 20px;
}

.part-growth .number-h3 {
  color: #000;
}

.part-growth .underline-h3 {
  background-color: #fff;
}

.players .part-growth {
  color: #ffffff;
  background-color: #090c35;
  font-family: OpenSans-Regular;
  padding-top: 61px;
  padding-bottom: 54px;
  padding-left: 20px;
  padding-right: 20px;
}

.players .part-growth .underline-h3 {
  background-color: #ffffff;
}

.players .part-growth .number-h3 {
  color: #644bab;
}


.advice-image {
  max-width: 100%;
  height: auto;
}

  footer {
    background-image: url(https://raw.githubusercontent.com/kostinvlad/surface/master/images/game_767.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100vh;
  }

  .footer::after {
    content: "";
    background-color: #0a0e34;
    background-size: cover;
    z-index: 2;
    opacity: 0.9;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
